@if (haveToShow)
{
    <div class="WMHistoryGo @Theme @arrowDirection">
        <button @attributes="InputAttributes" @onclick="@(e => HistoryManager.Go(Index))">
            @Label
            @if (ConcatPageTitle)
            {
                @goTitle
            }
        </button>
    </div>
}
else
{
    if (OptionalContent != null)
    {
        @OptionalContent
    }
}

@implements IDisposable

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public bool ConcatPageTitle { get; set; } = false;
    [Parameter] public int Index { get; set; }
    [Parameter] public bool AlwaysVisible { get; set; } = false;
    [Parameter] public RenderFragment OptionalContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> InputAttributes { get; set; }
    [Parameter] public string Theme { get; set; } = "";
    [Parameter] public string SetPageTitle { get; set; }

    [Inject] protected IWMHistoryManager HistoryManager { get; set; } = null;

    private bool isNativeBehavior { get; set; } = false;
    private bool canNavigate { get; set; } = false;
    private bool haveToShow { get; set; } = false;
    private string goTitle { get; set; }
    private string arrowDirection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isNativeBehavior = HistoryManager.IsUsingBrowserNativeBehavior();
        if (SetPageTitle != null)
        {
            await HistoryManager.SetPageTitle(SetPageTitle);
        }
        if (isNativeBehavior) 
        {
            setInfos();
        }
        else 
        {
            HistoryManager.SetCallback(setInfos);
        }
        arrowDirection = (Index < 0) ? "left" : "right";
    }

    protected async void setInfos()
    {
        canNavigate = HistoryManager.CanNavigate(Index);

        if (isNativeBehavior)
        {
            haveToShow = true;
        }
        else
        {
            goTitle = await HistoryManager.GetGoTitle(Index);
            if (AlwaysVisible)
            {
                haveToShow = true;
            }
            else
            {
                haveToShow = ((Index > 0 && canNavigate) || (Index < 0 && canNavigate));
                bool isSame = await HistoryManager.IsSameUrl(Index);
                haveToShow = (isSame) ? false : haveToShow;
            }
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        if (! isNativeBehavior)
        {
            HistoryManager.RemoveCallback(setInfos);
        }
    }
}