@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="@(e => HisotryManager.Back())">
    Voltar para : @backTitle;
</button>
<button class="btn btn-primary" @onclick="@(e => HisotryManager.Forward())">
    Avançar para: @forwardTitle;
</button>

@code {
    [Inject]
    private IWMHistoryManager HisotryManager { get; set; }
    private string backTitle { get; set; }
    private string forwardTitle { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        await HisotryManager.SetPageTitle("Counter");
        HisotryManager.SetCallback(setInfos);
    }

    protected void setInfos()
    {
        backTitle = HisotryManager.GetBackTitle();
        forwardTitle = HisotryManager.GetForwardTitle();
        StateHasChanged();
        System.Console.WriteLine("Callback Counter");
    }
}
