@page "/"

<WMPageTitle PageTitle="Home Demo" />

<h1>Hello, world!</h1>

Welcome to your new app.

<br><hr><br>

<WMHistoryBack 
    Label="Voltar para: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    class="btn btn-primary">
    <OptionalContent>
        Sem histórico para voltar
    </OptionalContent>
</WMHistoryBack>

<WMHistoryForward 
    Label="Avançar para: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    class="btn btn-primary">
    <OptionalContent>
        Sem histórico para avançar
    </OptionalContent>
</WMHistoryForward>

<WMHistoryGo 
    Label="Go +1"
    Index="1"
    ConcatPageTitle="true"
    AlwaysVisible="false"
    class="btn btn-primary">
    <OptionalContent>
        Sem histórico para avançar + 1
    </OptionalContent>
</WMHistoryGo>

<WMHistoryGo 
    Label="Go -1"
    Index="-1"
    ConcatPageTitle="true"
    AlwaysVisible="false"
    class="btn btn-primary">
    <OptionalContent>
        Sem histórico para voltar - 1
    </OptionalContent>
</WMHistoryGo>

<SurveyPrompt Title="How is Blazor working for you?" />

