@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br><hr><br>

<WMHistoryBack 
    Label="Voltar para: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    SetPageTitle="Home Page"
    class="btn btn-primary">
    <OptionalContent>
        <a href="/">Go Back Home</a>
    </OptionalContent>
</WMHistoryBack>

<WMHistoryForward 
    Label="Avançar para: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    class="btn btn-primary">
    <OptionalContent>
        <a href="/">Go Back Home</a>
    </OptionalContent>
</WMHistoryForward>

<SurveyPrompt Title="How is Blazor working for you?" />

