@page "/"

<WMPageTitle PageTitle="Home" />

<h1>Blazor History Manager - Demo</h1>

<hr>

<h3>Github Repository</h3>
<p>
    <a href="https://github.com/welisonmenezes/wm-blazor-history-manager" target="_blank">GitHub Repository</a>
</p>

<h3>Nuget Package</h3>
<p>
    <a href="https://www.nuget.org/packages/WMBlazorHistoryManager/" target="_blank">Nuget Package</a>
</p>

<hr>

<a href="step-one" class="btn btn-primary">Go to step one.</a>

<hr>

<WMHistoryBack 
    Label="Back to: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    Theme="classic">
    <OptionalContent>
        <a href="" class="btn btn-primary">Go to Home.</a>
    </OptionalContent>
</WMHistoryBack>

<WMHistoryForward 
    Label="Forward to: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    Theme="classic">
    <OptionalContent>
        No forward
    </OptionalContent>
</WMHistoryForward>

<br><br><br>

<br><br><br>
