@page "/step-three"
<WMPageTitle PageTitle="Step Three" />

<h1>Step Three Sample</h1>

<hr>

<WMHistoryBack 
    Label="Back to: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    class="btn btn-outline-primary">
    <OptionalContent>
        <a href="/" class="btn btn-primary">Go to Home.</a>
    </OptionalContent>
</WMHistoryBack>

<br><br><br>
