@page "/step-four"
<WMPageTitle PageTitle="Step Four" />

<h1>Step Four Sample</h1>

<hr>

<WMHistoryBack 
    Label="Back to: "
    ConcatPageTitle="true"
    AlwaysVisible="false"
    Theme="default">
    <OptionalContent>
        <a href="" class="btn btn-primary">Go to Home.</a>
    </OptionalContent>
</WMHistoryBack>

<br><br><br>
